<!DOCTYPE html>
<html>
  <head>
    <title>Instatam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.instatam = "<%= image_url('instatam.png')%>"
      window.placeholder = "<%= image_url('placeholder.png')%>"

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
